<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Of Blogs</title>
</head>
<body>
<p>
    <a th:href="@{/}"><button type="button">Go to blog Lists</button></a>
</p>
<fieldset style="width: fit-content;height: fit-content">
    <legend><h2 style="color: darkblue">List Of Categories</h2></legend>
    <table border="2">
        <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <th:block th:each="cate: ${categories}">
            <tr>
                <td th:text="${cate.getId()}"></td>
                <td th:text="${cate.getName()}"></td>
                <td><a th:href="@{/__${cate.getId()}__/viewCate}"><button>View Category Entry</button></a></td>
                <td><a th:href="@{/__${cate.getId()}__/editCate}"><button>Update Category Entry</button></a></td>
                <td><a th:href="@{/__${cate.getId()}__/deleteCate}"><button>Delete Category Entry</button></a></td>
            </tr>
        </th:block>
    </table>
</fieldset>
<p><a href="/newCate"><button type="button">Add New Blog Entry</button></a></p>
</body>
</html>