<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Blog</title>
    <style>
        tr{
            margin-top: 25px;
        }
        td{
            margin-top: 10px;
        }
    </style>
</head>
<body>
<h1>View Blog Entry</h1>
<p>
    <a href="/"><button>View Blog list</button></a>
</p>
<form th:object="${blog}" >
    <table>
        <tr>
            <td>Blog name:</td>
            <td><input readonly type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Blog Entry:</td>
            <td><textarea readonly style="height: 400px;width: 600px" th:field="*{content}"></textarea></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><input  readonly type="text" th:value="${blog.category.getName()}"></td>
        </tr>
    </table>
    <p><a th:href="@{/__${blog.getId()}__/doDelete}" onclick="return confirm('Are You Sure?')"><button type="button">Delete Blog Entry</button></a></p>
</form>
</body>
</html>